<!DOCTYPE html>

<html>
    
    <head>
        <title>{{ title }}</title>
        <link rel="icon" href="/img/speech_icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header }}

            <p>L'effetto del coronavirus sulla società e l'economia di un territorio non ha precedenti.
                Spesso, però, le informazioni e i dati vengono forniti per provincia e diventa difficile
                capire cosa succede in un singolo comune.
            </p>
            <p>Il progetto <strong>CODATA - Coronavirus Open Dataset Empolese-Valdelsa</strong> nasce dal bisogno
            della popolazione di avere un punto di riferimento per l'emergenza sanitaria all'interno dei comuni e
            località affacciati lungo la FiPiLi.
            </p>
            
            <p>Lo scopo di questo sito è consentire il monitoraggio della diffusione del Coronavirus
                all'interno dell'Empolese-Valdelsa: usando risorse aperte, CODATA è uno spazio pubblico,
                open, senza scopi di lucro, dove tutti possono consultare i dati usando 
                <strong>strumenti interattivi</strong> per navigare i dati, filtrare i risultati di una ricerca
                per personalizzare una visualizzazione o una mappa.
            </p>
            <p>Con gli <strong>analytics</strong> di CODATA è possibile monitorare agevolmente la situazione del contagio da
                coronavirus COVID-20 ed è possibile accedere al dataset attraverso le nostre API.
            </p>
        </div>
    </body>

    {{>footer}}

</html>