<html>

    <head>
        <title>Codata 2020</title>
        <link rel="icon" href="/img/speech_icon.png">
        <link rel="stylesheet" href="/css/styles.css">
        

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

        <style>
            #mapid { height: 180px; }
        </style>
    </head>

    <body>
        {{>header}}

        <p>Lista parziale, ultimo aggiornamento {{dataAggiornamento}}.</p>
        <div id="mapid_driveT" style="width: 600px; height: 300px;"></div>


        <script>
          window.onload = function() {

              const baseLayer = new L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
                  attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
                  maxZoom: 20
                }
              );

              const map = new L.Map('mapid_driveT', {
                center: new L.LatLng(43.7158876,10.8659648),
                zoom: 10,
                layers: [baseLayer]
              });
              
              L.marker([43.7589393, 10.9618297]).addTo(map)
              .bindPopup("<b>Hello world!</b><br />I am a popup.").openPopup();

              L.marker([43.77026, 11.2854]).addTo(map)
              .bindPopup("<b>Firenze Parco San Salvi</b><br />Via di S. Salvi, 1-9, 50135 Firenze FI.").openPopup();
              L.marker([43.72004, 11.29786]).addTo(map)
              .bindPopup("<b>Bagno a Ripoli</b><br />V.Spinello Aretino, 9/10, 50012 Bagno a Ripoli FI.").openPopup();

              L.marker([43.71272, 10.94791]).addTo(map)
              .bindPopup("<b>Empoli Cappuccini</b><br />Via dei Cappuccini, 50053 Empoli FI.").openPopup();

              L.marker([43.72221, 10.93403]).addTo(map)
              .bindPopup("<b>Empoli Osp. San Giuseppe</b><br />Viale Giovanni Boccaccio, 16, 50053 Empoli FI.").openPopup();

              L.marker([43.72403, 10.81273]).addTo(map)
              .bindPopup("<b>Fucecchio</b><br />Piazza Aldo Moro, 50054 Fucecchio FI.").openPopup();
              
              L.marker([43.71722, 10.9265]).addTo(map)
              .bindPopup("<b>Empoli Coop</b><br />Via S. Mamante, 40/44, 50053 Empoli FI. <br />da lunedì a sabato 10-16.").openPopup();

              L.marker([43.73685, 11.00443]).addTo(map)
              .bindPopup("<b>Capraia e Limite</b><br />Via delle Ginestre, 50050 Capraia FI.").openPopup();

            };

        </script>

        <br>
        <div>
          <h2>Il sistema di prenotazione online di Regione Toscana</h2>
          
          <p>Il servizio online permette a chi ha la prescrizione di scegliere autonomamente:
            <ul>
              <li>Luogo dove effettuare il tampone</li>
              <li>Orario per effettuare il tampone</li>
            </ul>
            Si accede, poi, direttamente al punto di drive-through o walk-through selezionato senza fare nessuna attesa.
            </p>

            <p><b>Attenzione</b> la prenotazione è effettuabile solo nelle 24 ore successive, ogni notte viene pubblicata la disponibilità per il giorno successivo.</p>

            <p>Ecco cosa serve per prenotare:
              <ul>
                <li>Codice Fiscale</li>
                <li>un cellulare attivo</li>
                <li>la ricetta elettronica del medico di famiglia</li>
              </ul>
            </p>

            <p>Pubblichiamo il link dove prenotare:</p>
            <a href="https://prenotatampone.sanita.toscana.it/#/home"><b>Prenotazione online di Regione Toscana</b></a>
        </div>
    </body>
    {{>footer}}
</html>

