<html lang="en">
    <head>
        <title>Node js course</title>
    </head>

    <body>
        <h1>This is first form test:</h1>

        <form action="/form-test" method="post">
            <label for="firstName">Nome
                <input type="text" name="firstName">
            </label>
            <button type="submit">Create record</button>
        </form>
    </body>
</html>