<!DOCTYPE html>

<html>
    
    <head>
        <title>{{ title }}</title>
        <link rel="icon" href="/img/speech_icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header }}

            <p>La visualizzazione dei dati è la rappresentazione grafica di informazioni e dati. Grazie a elementi visivi come diagrammi, grafici e mappe, gli strumenti per la visualizzazione dei dati creano una soluzione accessibile per osservare e comprendere tendenze, valori anomali e ricorrenze presenti nei dati.</p>

            <h1><strong>La situazione in Italia</strong></h1>
            <p>Ultimo aggiornamento <em id="message-data-odierna"></em>, elaborazione dati del ministero della Salute</p>
            <br>

            <h6 class="text-danger">INCREMENTO TAMPONI: <strong id="message-tamponi">...</strong> RISPETTO A IERI</h6>
            
            <!-- inizio -->
            <div class="container">
                <div class="row">

                    <div class="col-sm bg-info">
                        <h2 id="message-1">( .. )</h2>
                        <p>ricoverati con sintomi</p>
                        <p id="message-a"> (.. %)</p>
                    </div>

                    <div style="margin-left:5px" class="col-sm bg-info">
                        <h2 id="message-2">(...)</h2>
                        <p>TERAPIA INTENSIVA</p>
                        <p id="message-b"> (.. %)</p>
                    </div>

                    <div style="margin-left:5px" class="col-sm bg-info">
                        <h2 id="message-3">(...)</h2>
                        <p>ISOLAMENTO DOMICILIARE</p>
                        <p id="message-c"> (.. %)</p>
                    </div>

                    <div style="margin-left:5px" class="col-sm bg-info">
                        <h2 id="message-4">(...)</h2>
                        <p>TOTALE ATTUALMENTE POSITIVI</p>
                        <p id="message-d"> (.. %)</p>
                    </div>

                    <div style="margin-left:5px" class="col-sm bg-info">
                        <h2 id="message-5">(...)</h2>
                        <p>DIMESSI/GUARITI</p>
                        <p id="message-e"> (.. %)</p>
                    </div>

                    <div style="margin-left:5px" class="col-sm bg-info">
                        <h2 id="message-6">(...)</h2>
                        <p>DECESSI</p>
                        <p id="message-f"> (.. %)</p>
                    </div>

                    <div style="margin-left:5px" class="col-sm bg-info">
                        <h2 id="message-7">(...)</h2>
                        <p>CASI TOTALI</p>
                        <p id="message-g"> (.. %)</p>
                    </div>

                </div>
            </div>
            <!-- FINE -->


        </div>

    </body>

    {{>footer}}
    <script src="/js/app.js"></script>

</html>