<header>
    
    <h1>{{ title }}</h1>


    <a href="/">Home</a>
    <a href="/analytics-dashboard/italia">Covid-19 in Italia</a>
    <a href="/analytics-dashboard/empoli">Il territorio</a>
    <a href="/analytics-dashboard/drive-through">Drive through sul territorio</a>
    <a href="/about">About</a>
    
</header>